{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>SignUp Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}">
	<script type="text/javascript" src="{%static 'js/bootstrap.min.js'%}"></script>
</head>
<body>
	<div class="row col-sm-6 col-md-6" style="justify-content: center;">
		<div class="card">
	<form method="POST" action="">
		<div class="card-header">Signup Form</div>
		<div class="card-body">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">SignUp</button>
		</div>
	</form>
	</div>
	</div>
</body>
</html>